.homediv{
	width:90%;
	height:82%;
	border:1px solid blue;
	margin:auto;
	margin-top:6%;
	border-radius: 20px;
	padding:2%;
	background-color:rgba(255, 255, 255, .6);
}
.homediv h1{
	margin-top:1%;
}
.homediv p{
	text-indent:4%;
	
}
.videoPlaya{
	float:left;
	margin-right:2%;
	border-radius:.5em;
	width:380;
	height:"214;
}