.pageFooter{
	/*background-color:black;
	color:white;
	font-size:1em;
	padding:1em;
	opacity:;*/
	width:100%;
}
.social-menu ul{
    position: relative;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 1.1em;
    line-height: 30px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}
.social-menu ul li:nth-child(5) a:hover{
    background-color: #FF5722;
}
.social-menu ul li:nth-child(5) a:hover svg g path{
	fill:#fff;
}
.svgIco{
	fill:#000000;
}

.awesomeLike{
	fill:#000;
	height:1.1em;
	padding-top:.4em;
}